/* Imports */
@import "normalize.css";
@import "fluid_skeleton.css";

html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #444;
}

a {
	color: #F1604B;
}

img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

header.band {
	background: #444;
	color: #fff;
	padding: 5% 0 10% 0;
	text-align: center;
}

p.tagline {
	background: none repeat scroll 0 0 rgba(241, 96, 75, 0.8);
	font-size: 1.6em;
	padding: 4% 5%;
}

h1, h2, h3 {
	font-weight: 700;
}


h2 {
	font-size: 2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.2em;
	letter-spacing: -1px;
}

.services h2 {
	margin-top: 0;
}

h3 {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: .1em;
}



hr {
	margin: 1em 0;
	height: 1px;
	background: #ccc;
	border: none;
	width: 100%;
	clear: both;
}

a, a:visited {
	text-decoration: none;
}

a.button {
	background: none repeat scroll 0 0 #F1604B;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 0.9em 1.8em 0.8em;
    text-shadow: none;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

a.button:hover {
	background: #ab3009;
}

.contact a.button {
	font-size: .8em;
}

div.band .columns {
	padding-top: 1em;
	padding-bottom: 1em;
}

ul {
	list-style: none;
	padding-left: 0;
}

ul li {
	line-height: 2em;
	color: #1b88bf;
}

ol li {
	text-align: center;
}


.avatar {
	width: 100%;
}

.avatar img {
	width: 153px;
}

.image {
	width: 100%;
	height: auto;
}

.twitter {
	display: block;
	font-size: .9em;
}


footer {
	background: #333;
	color: #fff;
	font-size: .7em;
}

footer a {
	color: #fff;
}

@media only screen and (min-width: 767px) {
	body {
		font-size: 1.125em;
		line-height: 1.7em;
	}

	div.band .columns {
		padding-top: 2em;
		padding-bottom: 2em;
	}


	header.band {
		background-image: url(../img/background.jpg);	
		background-size: 100%;
	}

	p.tagline {
		background: none repeat scroll 0 0 rgba(241, 96, 75, 0.8);
		font-size: 2.2em;
		line-height: 1em;
		font-weight: 300;
		letter-spacing: -1px;
		padding: 2% 5%;
		margin: 0 5%;
}


	header.band h1 {
		font-size: 3.25em; 
	}

	a.button {
		padding: .75em 1.5em;
	}

	footer {
		text-align: left;
	}

	.last {
		text-align: right;
	}
}

